<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<section>
			<h2>Get involved</h2>
			<p>
				Does this sound like something you'd be interested in?
				Get involved and
				<a href="https://www.cityofkingston.ca/city-hall/projects-construction/mayors-innovation-challenge/proposals">submit a proposal</a> 
				today!
			</p>
			<ul class="icons">
				<li><a href="{{site.twitter}}" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="{{site.facebook}}" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="{{site.youtube}}" class="icon style2 fa-youtube"><span class="label">Youtube</span></a></li>
			</ul>
		</section>
		<ul class="copyright">
			<li>&copy; {{site.author}}</li>
			<li>{{ site.time | date: '%Y' }}</li>
		</ul>
	</div>
</footer>

