<!-- Header -->
<header id="header">
    <div class="inner">

        <!-- Logo -->
        <a href="/" class="logo">
            <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">HPC Carpentry</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>

    </div>
</header>

<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/our-lessons">Our lessons</a></li>
        <li><a href="/workshops">Leading a workshop</a></li>
        <li><a href="/why-hpc-carpentry">Why HPC Carpentry?</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

